$normalfont: 'Roboto Mono', monospace;
$arrowsize: 8px;

* {
    box-sizing: border-box;
}

html {
    background: #000;
    font-size: 22px;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
}
