@import '_base';

main {
    font-family: $normalfont;
    width: 95%;
    margin: 0 auto;
}

.chat-buble {
    padding: 1rem;
    vertical-align: top;
    border-radius: 5px;
    position: relative;
}

.chat-buble::before {
    border-color: #fff;
    border-top: $arrowsize solid transparent;
    border-bottom: $arrowsize solid transparent;

    content: " ";
    height: 0;
    position: absolute;
    top: calc(50% - #{$arrowsize});
    width: 0;
}

.chat-buble.chat-question:not(.waiting-statement)::before {
    border-right: $arrowsize solid #fff;
    left: -$arrowsize;
}

.chat-buble.chat-answer::before {
    border-left: $arrowsize solid #fff;
    right: -$arrowsize;
}

.chat-buble.chat-dots::before {
    border-width: 0 0 0 0;
}

.conversation-container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .chat-buble {
        transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
    }

    .chat-question-template {
        transform: translateX(-50px);
    }

    .chat-answer-template {
        transform: translateX(50px);
    }

    .chat-question-template, .chat-answer-template, .chat-dots-template {
        display: none;
        opacity: 0;
    }

    .chat-buble-animating {
        display: initial;
    }

    .chat-question {
        background-color: #fff;
        color: #171717;
        left: $arrowsize;
        margin-bottom: 2rem;
        max-width: 540px;
        opacity: 1;
        transform: translateX(0px);
        position: relative;
        align-self: flex-start;
    }

    .chat-answer {
        right: $arrowsize;
        margin-bottom: 2rem;
        max-width: 540px;
        opacity: 1;
        position: relative;
        border: 2px solid #fff;
        align-self: flex-end;
    }
}

.dot {
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-name: loading-dots;
    animation-timing-function: ease-in-out;
    background: #000;
    border-radius: 5px;
    display: inline-block;
    height: 5px;
    width: 5px;
}

.dot:nth-child(1) {
    animation-delay: 0ms;
}
.dot:nth-child(2) {
    animation-delay: 400ms;
}
.dot:nth-child(3) {
    animation-delay: 800ms;
}

@keyframes loading-dots {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.conversation-container .waiting-statement {
    display: none;
}

.waiting-for-guest {

    .conversation-container {
        align-items: center;
        justify-content: center;
    }

    .waiting-statement {
        align-self: auto;
        transform: scale(1.4);
        display: block;

        animation-name: scale-waiting;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 1500ms;
    }

    @keyframes scale-waiting {
        0% {
            transform: scale(1.4) translateZ(1px);
        }

        50% {
            transform: scale(1.5) translateZ(1px);
        }

        100% {
            transform: scale(1.4) translateZ(1px);
        }
    }
}

.answer-container {
    width: 100%;
    height: 14vh;
    margin: 4vh 0 2vh;
    display: flex;
    justify-content: space-between;

    &.hidden {
        display: none;
    }

    .answer-option {
        flex: 1;
        border: 2px dotted #fff;

        &:first-of-type {
            margin-right: 1rem;
        }

        &:last-of-type {
            margin-left: 1rem;
        }
    }
}